.grid-container {
  height: calc(100vh - 2 * var(--spacing-lg) - 64px);
  min-height: 1080px;
  margin: var(--spacing-lg);

  &.handset {
    min-height: 1080px;
  }

  > .mat-grid-list {
    height: 100%;
    width: 100%;
  }
}

.dashboard-card {
  height: calc(100% - var(--spacing-md));
  width: calc(100% - var(--spacing-md));
}

.action-button {
  position: absolute;
  top: 12px;
  right: 16px;
}

.dashboard-card-content {
  text-align: center;
}

.employee-table-card {
  height: calc(100% - 2 * var(--spacing-md) - 32px);
}
